* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.header {
  background: #100138;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
  text-align: center;
  margin: 0 auto;
  border-radius: 6px;
  width: 50%;
  padding: 30px 0;
}
.container {
  width: 50%;
  border-radius: 6px;
  border: 1px solid black;
  margin: 20px auto;
}
.heading {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
  background: #151417;
  color: white;
  padding: 10px 10px;
}
.sub-container {
  padding: 10px;
}
label {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
input {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: block;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 3px;
}
.button {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 16px;
  padding: 20px 30px;
  border-radius: 6px;
  color: white;
}
.inactive {
  cursor: none;
  background: lightgray;
}
